<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
             <br/>
              <br/>
            <h1 class="mb-1">LINKS FAVORITOS</h1>
            <br/>
            <br/>
            <br/>
            <h3 class="mb-5">
                <em>Guarda tus sitios favoritos</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="links/add">
                Empezar
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>